{% extends 'main.html.twig' %}
{% block content %}
<h1>{{ category.sport }}</h1>


<div>

    <h3>{{ category.todo1 }}</h3>

</div>
<div>

    <h3>{{ category.todo2 }}</h3>

</div>
<div>

    <h3>{{ category.todo3 }}</h3>

</div>
<div>

    <h3>{{ category.todo4 }}</h3>

</div>

{% endblock %}
