{% extends 'main.html.twig' %}

{% block content %}

    <h2>{{ categoryContent.description.title }}</h2>
    <p>{{ categoryContent.description.description }}</p>

    {% if categoryContent.taskCount > 0 %}
        {% for task in categoryContent.tasks %}
            <a href="/task/{{ task.todo_id }}" >
                <div style="width: 45%; float: left; padding: 10px; margin: 10px; background-color:#F9DEC9;">
                    <h1>{{ task.title }}</h1>
                    <h4>{{ task.created_at }}</h4>
                    <i>Author: {{ task.author }}</i>
                </div>
            </a>
        {% endfor %}
    {% endif %}

{% endblock %}