{% extends 'main.html.twig' %}

{% block content %}

    <h2 style="margin-bottom:20px;">Categories</h2>


    {% for i in range(0, maxRange) %}

        <a style="background-color:cornflowerblue; padding:10px; display:inline; color:white;"
           href="/category={{ landingContent.category[i].category_id }}" >
               {{ landingContent.category[i].title }}

    {% for category in landingContent.category%}
        <a href="/category/{{ category.category_id }}" >
                <h3>{{ category.title }}</h3>
        </a>


    {% endfor %}


    <h2 style="margin-top:20px;">Latest tasks</h2>

    {% for latestPost in landingContent.latestPosts %}
        <a href="/task/{{ latestPost.todo_id }}" >
            <div style="width: 45%; float: left; padding: 10px; margin: 10px; background-color: cornflowerblue">
                    <h1>{{ latestPost.title }}</h1>
                    <h4>{{ latestPost.created_at }}</h4>
                    <i>Author: {{ latestPost.author }}</i>
            </div>
        </a>
    {% endfor %}
{% endblock %}