{% extends 'main.html.twig' %}

{% block content %}
    <h1>{{ taskContent.task[0].title }}</h1>
    <h4>{{ taskContent.task[0].created_at }}</h4>
    <p>{{ taskContent.task[0].body }}</p>
    <i>Author: {{ taskContent.task[0].author }}</i>

    <h4>Comments ({{ taskContent.commentCount}})</h4>

    <form action="/comment" method="POST">
        <p>Your name: <input type="text" name="name" /></p>
        <p>Comment: <input type="text" name="comment" /></p>
        <input type="hidden" name="todo_id" value="{{ taskContent.task[0].todo_id }}">
        <p><input type="submit" /></p>
    </form>

    {% if taskContent.commentCount > 0 %}
        {% set maxRange = taskContent.commentCount-1 %}
        {% for comment in taskContent.comments %}
                <div style=" padding: 10px; margin: 10px; background-color: lightgray">
                    <h5>{{ comment.author }}</h5>
                    <h6>{{ comment.created_at }}</h6>
                    <p>{{ comment.body }}</p>
                </div>
        {% endfor %}
    {% endif %}


{% endblock %}